body {
    font-family: verdana, arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* SCORE & STATS
-------------------------------------------------------*/
#score-wrap {
    background: url(../images/score-bg.png);
    border-radius: .5em;
    height: 1em;
    left: 1%;
    padding: 1em;
    position: absolute;
    top: 1%;
    width: 18.75em;
}
#score {
    background: transparent !important;
    color: white;
    font: bold 1.875em verdana, arial, helvetica, sans-serif;
    margin: 2px 0 0 0;
    padding: 2px;
    position: absolute;
    top: 0;
}
#found {
    color: white;
    font: .75em verdana, arial, helvetica, sans-serif;
    left: 170px;
    margin: 6px 5px 5px 10px;
    padding: 2px;
    position: absolute;
    top: 8px;
}
#Stats-output {
    position: absolute;
    right: 100px;
    top: 1%;
}
#menu {
    position: absolute;
    right: 120px;
    top: 1%;
}

/* LOADING PANEL
-------------------------------------------------------*/
#progressPanel {
    background: transparent url(../images/bubble.png) no-repeat;
    background-size: 100%;
    height: 381px;
    left: 50%;
    margin: -190px 0 0 -300px;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 600px;
}
#progressPanel h1 {
    color: #e16a3e;
    font: 1.875em verdana, arial, helvetica, sans-serif;
    margin: 3.5em 0 .5em 1.4em;
    padding: 0;
}
#progressPanel p {
    font: .9em verdana, arial, helvetica, sans-serif;
    margin: 0 0 1em 3em;
}
#progress { margin-left: 3em; width: 83%; }
progress[value] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #eee;
    border: none;
    color: #3a878b;
    height: 15px;
}
progress[value]::-webkit-progress-value {
    background-image: -moz-linear-gradient(top, #3a878b, #8cbbb8);
    background-image: -webkit-linear-gradient(top, #3a878b, #8cbbb8);
}
progress[value]::-moz-progress-bar {
    background-image: -moz-linear-gradient(top, #3a878b, #8cbbb8);
}

/* TOOLBOX
-------------------------------------------------------*/
#toolbox {
    background: url(../images/toolbox-closed.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 17vw;
    height: 13vw;
}
#toolbox a { display: none; text-decoration: none; }
#toolbox a img { margin-top: -7%}
#tool-temperature-small { width: 12%; height: 55%; margin-left: 10%; margin-right: 8% }
#tool-moisture-small { width: 18%; height: 55%; margin-right: 4% }
#tool-ircamera-small { width: 30%; height: 55%}

#fan-container {
    bottom: 1%;
    right: 20%;
    position: absolute;
}
#fan-container a img {
    height: 11vw;
    width: 5vw;
}

/* INFRARED TOOL
-------------------------------------------------------*/
#tool-ircamera {
    width: 44vw;
    height: 50vw;
    display: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
#tool-ircamera > img:first-child {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#tool-ircamera-off {
    position: absolute;
    left: 67%;
    top: 88%;
    width: 5%;
    height: 5%;
    z-index: 3;
}
#target {
    width: 15vw;
    height: 15vw;
    position: absolute;
    top: 28%;
    left: 34%;
}
#quizImage {
    display: none;
    height: 55%;
    width: 73%;
    position: absolute;
    left: 14%;
    top: 16%;
}
#temperature-high {
    display: none;
    color: white;
    font-size: 2vw;
    position: absolute;
    right: 16.5%;
    top: 25.5%;
}
#temperature-low {
    display: none;
    color: white;
    font-size: 2vw;
    position: absolute;
    right: 16.5%;
    top: 56%;
}
#quiz {
    display: none;
    position: absolute;
    left: 1%;
    top: 10%;
    background-color: rgba(255,255,0,0.6);
    border-radius: 10px;
    width: 20%;
    padding: 1%;
    font-size: 1.1vw;
}
.quiz {
    display: none;
    background-color: rgba(255,255,0,0.6);
    border-radius: 10px;
    width: 57%;
    margin: 5%;
    padding: 3%;
    position: absolute;
    left: 14%;
    top: 16%;
    font-size: 1.1vw;
    z-index: 2;
}
#quizQuestionAnswers { display: none }
#answers label { }
#question { }
#lastAnswer { }
#hintButton { font-size: 1vw; }
#quizCorrect { display: none }
#quizIncorrect { display: none }
#quizAlreadyChecked { font-size: 2vw; text-align: center }

/* MOISTURE TOOL
-------------------------------------------------------*/
#tool-moisture {
    width: 31vw;
    height: 70vw;
    display: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -31vw;
}
#tool-moisture > img:first-child {
    width: 100%;
    height: 100%;
}
#moisture-off {
    position: absolute;
    left: 30%;
    top: 48%;
    width: 20%;
    height: 6%;
}
#moisture-target {
    width: 15vw;
    height: 15vw;
    position: absolute;
    top: -11%;
    left: 25.5%;
}
#moisture-value {
    font-size: 7vw;
    text-align: right;
    width: 100%;
    position: absolute;
    top: 24%;
    right: 27%;
}

/* TEMPERATURE TOOL
-------------------------------------------------------*/
#tool-temperature {
    width: 19vw;
    height: 60vw;
    display: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25vw;
}
#tool-temperature > img:first-child {
    width: 100%;
    height: 100%;
}
#temperature-target {
    width: 15vw;
    height: 15vw;
    position: absolute;
    top: -15%;
    left: 10%;
}
#temperature-off {
    position: absolute;
    left: 23%;
    top: 52%;
    width: 15%;
    height: 20%;
}
#temperature-value {
    font-size: 5vw;
    position: absolute;
    top: 37%;
    left: 25%;
}

#video {
    position: absolute;
    display: none;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}